.who-are-we {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 107vh;
  color: white;
  background: linear-gradient(
      to bottom,
      rgba(255, 0, 0, 0) 0.001%,
      rgb(0, 0, 0)
    ),
    url(../img/gif-who-are-we.gif);
    background-size: cover;
}

.who-are-we h1 {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(255, 255, 255);
  -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

.who-are-we h1:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(255, 255, 255, 0);
  -webkit-text-fill-color: rgb(255, 255, 255);
  transition: 0.3s;
}

.who-are-we p {
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 50px;
  font-size: 20px;
}

.vision-mission {
  display: flex;
  gap: 100px;
  padding: 100px;
  position: relative;
  align-items: start;
  background-color: black;
}

.vision-title {
  margin-top: -50px;
  color: rgb(255, 255, 255);
  width: 50em;
  position: sticky;
  top: 4em;
}

#vision h1 {
  font-family: "SpotifyFontRegular";
  font-size: 50px;
}

.vision-description h1 {
  font-size: 5em;
}


.vision-description {
  color: rgb(255, 255, 255);
  display: flex;
  gap: 100px;
  flex-direction: column;
  max-width: 80em;
}


.vision-description-inside {
  border-top: 2px solid rgb(255, 255, 255);
  padding-top: 1em;
}

.vision-description-inside h1{
  font-family: "SpotifyFontRegular";
  font-size: 50px;
}

.SO-container {
  overflow: hidden;
  padding: 60px 0;
  background: rgb(0, 0, 0);
  white-space: nowrap;
  position: relative;
}

.SO-container:before,
.SO-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.SO-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.SO-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(0, 0, 0));
}

.SO-slide-container {
  display: inline-block;
  animation: 50s slide infinite linear;
  animation-play-state: running;
}

.SO-slide-container img {
  height: 500px;
  margin: 0 3px;
  filter: saturate(0);
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

