.hero,
.program,
.connect {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-bottom: 100px;
}

.hero h1,
.program h1,
.connect h1 {
  font-size: 6em;
  color: black;
}

.program h2 {
  font-family: "SpotifyFontRegular";
}

.hero p {
  font-size: 27px;
  text-align: center;
  max-width: 45em;
  margin-top: 30px;
}

.inner-program, .inner-connect {
  display: flex;
  gap: 50px;
  margin-top: 50px;
}

.box-1,
.box-2 {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 25px;
  min-width: 30em;
  min-height: 30em;
  margin-bottom: 3em;
  background-color: rgb(234, 234, 235);
  transition: 0.3s;
  gap: 2em;
}
