@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: "SpotifyFontBold";
  src: url("../font/GothamMedium.ttf");
}
@font-face {
  font-family: "SpotifyFontRegular";
  src: url("../font/GothamBook.ttf");
}
@font-face {
  font-family: "Boris";
  src: url("../font/Boris.ttf");
}
@font-face {
  font-family: "Pocket";
  src: url("../font/Pocket_Font-Regular.ttf");
}
html * {
  font-family: "Open Sans", sans-serif, "SpotifyFontBold", sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #f5f5f5;
  transform-style: preserve-3d;
}
h1,
h2,
h3,
a {
  font-family: "SpotifyFontBold";
  letter-spacing: -1px;
}
h4,
p {
  font-family: "SpotifyFontRegular";
  letter-spacing: -1px;
}

.neue {
  font-family: "SpotifyFontBold";
}

.title {
  font-size: 100px;
  letter-spacing: -5px;
}

.event-title {
  font-size: 50px;
  letter-spacing: -1px;
}
.bgppi {
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 50%,
      #f5f5f5
    ),
    url(../img/PPI-GIF.gif);
  background-size: cover;
}

.transition {
  height: 100px;
  background-image: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0),
    rgb(255, 255, 255)
  );
}

.content {
  font-family: "Bebas Neue", sans-serif;
  font-size: 2em;
}

footer {                                      
  width: 100%;
  padding: 20px;
}
.footer-right {
  font-size: 30px;
  text-align: right;
  margin-top: -7px;
}
@media only screen and (max-width: 720px) {
  .footer-right {
    font-size: 30px;
    text-align: center;
  }
}
.footer-left {
  font-size: 30px;
  text-align: left;
}
@media only screen and (max-width: 720px) {
  .footer-left {
    font-size: 30px;
    text-align: center;
  }
}
.still-black {
  color: inherit;
  text-decoration: none;
}
.section1 {
  color: white;
}
.aboutbutton {
  font-size: 20px;
}
.btn .rounded-pill {
  border: 20px !important;
}
#instagram-div {
  display: none;
}
#facebook-div {
  display: none;
}
#youtube-div {
  display: none;
}
#spotify-div {
  display: none;
}
.horizontal-line {
  display: inline-block;
  width: 420px;
  height: 2px;
  background-color: black;
  margin-bottom: 30px;
  margin-top: 20px;
}
.btn-spotify {
  background-color: #61ce70;
  color: white;
  margin-top: 20px;
}
.btn-facebook {
  background-color: #2374e1;
  color: white;
  margin-top: 20px;
}
.btn-youtube {
  background-color: #cd201f;
  color: white;
  margin-top: 20px;
}
.btn-instagram {
  margin-top: 20px;
  border: 1px solid #e4405f;
  color: #e4405f;
  background-color: transparent;
}
.btn-instagram:hover {
  background-color: #e4405f;
  color: #fff;
}
.instagram-feed {
  max-width: 500px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.youtube-background {
  width: 50%;
  background-color: #fc5757;
  border-radius: 10px;

}
.instagram-color {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}
.elementor-shape-fill {
  fill: #6381bc;
}
.elementor-shape-fill-white {
  fill: white;
}

.elementor-shape-fill-blue {
  fill: #6381bb;
}
@media only screen and (max-width: 600px) {
  .title {
    font-size: 35px;
  }
  .btn-sosmed {
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 0.2rem;
  }
  .btn-spotify {
    margin-top: 0px;
  }
  .btn-facebook {
    margin-top: 0px;
  }
  .btn-youtube {
    margin-top: 0px;
  }
  .spotify-text {
    text-align: center;
  }
  .horizontal-line {
    display: inline-block;
    width: 250px;
    height: 2px;
    background-color: black;
  }
}
.ytplayer {
  border-radius: 10px;
}
.ytplayer.active {
  border: 5px solid white;
}
.transition-footer-div {
  height: 300px;
  background: linear-gradient(#e9e9e9, #000000);
}
.count {
  font-size: 35px;
  font-weight: bold;
  animation: countAnimation 2s ease-out;
  display: inline-block;
}

@keyframes countAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes transitionIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.image-container {
  position: relative;
  width: 400px;
  border-radius: 10px;
}

.image-container img {
  display: block;
  width: 100%;
  border-radius: 10px;
}

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgb(61, 3, 3));
  border-radius: 10px;
}
.image-text {
  position: absolute;
  width: 100%;
  bottom: 5em;
  color: white;
  text-align: center;
  transform: translateY(-100%);
  z-index: 1;
}
.image-container .gradient-overlay,
.image-container .image-text {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease, visibility 0.5s linear;
}

/* Hide the overlay and text initially */
.image-container .gradient-overlay,
.image-container .image-text {
  opacity: 0;
  visibility: hidden;
}

/* When the container is hovered, show the overlay and text */
.image-container:hover .gradient-overlay,
.image-container:hover .image-text {
  opacity: 1;
  visibility: visible;
}

.nav-link:hover {
  color: #cd201f !important;
}

#navbar {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.692);
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.5s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}
