.bgpage {
  margin-top: 10em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.box {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  border-radius: 25px;
  min-width: 30em;
  min-height: 30em;
  margin-bottom: 10em;
  background-color: rgb(255, 255, 255);
  transition: 0.3s;
  gap: 2em;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.185);
}

.box:hover {
  background-color: rgb(145, 29, 29);
  box-shadow: rgb(255, 255, 255) 0px 8px 24px;
}

.box:hover h1 {
  color: white;
}

.box:hover p {
  color: white;
}

.box h1 {
  color: black;
  font-size: 60px;
}

.box p {
  margin: 0 15px 15px 0;
  font-size: 20px;
  max-width: 30em;
}
